<div class="welcome">
	<div class="welcome-message">
		<h2>Welcome</h2>
		<p>Ember-Share is an attemp to solve data persistance in an ember application, it relies on <a href="http://sharejs.org/">ShareJS</a>, a battle tested operational transforms library.</p>
		<p>In addition to just data persistance, ShareJS enables collaboration so that multiple users can concurrently modify the same model/document in real-time.</p>
		<p>Please have a look at the demos, you can get more information on the github repo. Also note that the library is still in the alpha stage, but with your help we can make it better.</p>
	</div>
	<figure class="welcome-figure">
		<img src="assets/img/embersharegraph.svg" alt="">
		<figcaption>
			How Ember-Share fits in the stack
		</figcaption>
	</figure>
	<div class="clearfix"></div>
</div>
