<article class="container">
	<header>
		{{#link-to "home.index" tag="h2"}}EmberShare{{/link-to}}
		<h3>Real-time Ember</h3>
		<div class="btns">
			{{#link-to "home.chat" tag="button" class="chat-btn"}}
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="62" height="62" enable-background="new 0 0 62 62" xml:space="preserve" class="chat-img"><g id="ring"><path fill-rule="evenodd" clip-rule="evenodd" fill="#FF3B1F" d="M54.62 48c-5.27 7-13.86 12.07-23.57 12.07C15.01 60.07 2 47.07 2 31.02 2 14.98 15.01 1.97 31.05 1.97 45.03 1.97 56.71 12 59.48 25h1.93C58.61 11 46.06 0.01 31 0.01c-17.11 0-30.99 13.88-30.99 30.99S13.89 61.99 31 61.99C41.84 61.99 51.37 56 56.91 48H54.62z"/></g><g id="art"><path fill-rule="evenodd" clip-rule="evenodd" fill="#FF3B1F" d="M30.94 19.1c-3.86 0.38-7.04 1.73-9.54 4.08 -2.52 2.35-3.61 4.98-3.31 7.91 0.3 2.93 1.92 5.29 4.86 7.1 0.04 0.01 0.05 0.02 0.08 0.03 0.11 2.14-0.72 3.63-2.48 4.46 2.51 0.81 5.15-0.01 7.93-2.46 1.48 0.23 3.03 0.26 4.67 0.1 3.86-0.39 7.03-1.76 9.55-4.11 2.51-2.35 3.6-4.98 3.3-7.9 -0.3-2.94-1.92-5.3-4.86-7.11C38.18 19.42 34.79 18.72 30.94 19.1z"/></g></svg>
				Chat Demo
			{{/link-to}}
			{{#link-to "home.todo" tag="button" class="todo-btn"}}
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="62" height="62" enable-background="new 0 0 62 62" xml:space="preserve" class="todo-img"><path fill-rule="evenodd" clip-rule="evenodd" fill="#FF3B1F" id="ring" d="M54.6 48c-5.3 7-13.9 12.1-23.6 12.1C15 60.1 2 47.1 2 31 2 15 15 2 31.1 2 45 2 56.7 12 59.5 25h1.9C58.6 11 46.1 0 31 0c-17.1 0-31 13.9-31 31S13.9 62 31 62C41.8 62 51.4 56 56.9 48H54.6z"/><path fill="#FF3B1F" d="M19.9 34.1l9.2 9.2c0 0 9.2-17.6 19.1-21.6L47.7 18.9c-5.4 2.1-13.6 7.8-19.6 16.4l-6.4-3.8L19.9 34.1z"/></svg>
				Todo Demo
			{{/link-to}}
		</div>
		<a href="tbd">Fork
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="62" height="62" enable-background="new 0 0 62 62" xml:space="preserve" class="fork-img"><g id="ring"><path fill-rule="evenodd" clip-rule="evenodd" fill="#FF3B1F" d="M31 0.01C17.015 0.01 5.198 9 1.344 22H3.33C7.124 10 18.051 1.966 30.948 1.966 46.993 1.966 60 14.975 60 31.02c0 16.044-13.007 29.054-29.052 29.054C21.243 60.073 12.654 55 7.379 48H5.095C10.633 56 20.165 61.988 31 61.988c17.113 0 30.986-13.876 30.986-30.989S48.113 0.01 31 0.01z"/></g><g id="art"><path fill-rule="evenodd" clip-rule="evenodd" fill="#FF3B1F" d="M43.332 33.011c1.02-3.582 0.102-7.546-2.011-9.349 0.517-1.476 0.17-3.491-0.364-4.705 -1.113 0.04-1.937 0.205-2.91 0.633 -0.746 0.331-1.595 1.195-2.364 1.266 -0.784 0.074-1.867-0.394-2.909-0.451 -2.476-0.136-4.376 0.119-6.184 0.633 -1.456-0.964-2.863-1.977-5.182-2.082 -0.771 1.155-0.953 3.583-0.365 5.066 -2.077 1.767-2.561 6.129-1.607 9.115 -2.598 0.006-5.158-0.189-7.274 0.219C12.065 32.584 12 31.801 12 31c0-10.493 8.507-19 19-19s19 8.507 19 19c0 0.762-0.058 1.51-0.145 2.248C47.842 33.015 45.49 33.176 43.332 33.011zM17.041 33.611c1.075-0.045 2.805-0.371 3.001 0.814 -2.675 0.086-5.151 0.876-7.333 1.659 -0.229-0.823-0.401-1.667-0.518-2.53C13.679 33.506 15.511 33.68 17.041 33.611zM20.248 34.786c1.391 2.717 4.267 3.576 7.887 4.073 -0.729 0.541-1.223 1.313-1.454 2.353 -0.825 0.194-1.29 0.483-2.182 0.451 -2.911-0.102-3.035-4.216-6.275-3.437 0.248 0.887 1.102 0.974 1.637 1.628 0.536 0.653 0.647 1.522 1.092 2.26 0.992 1.645 3.021 2.241 5.638 1.72 -0.18 1.569 0.318 3.1-0.182 4.162 -0.294 0.624-0.909 0.654-1.212 1.094 -6.006-1.926-10.699-6.759-12.445-12.843C15.086 35.628 17.587 34.916 20.248 34.786zM28.409 48.357c0.876-1.908-0.686-5.629 0.728-6.694 -0.31 2.333 0.492 5.215-0.184 7.147 -0.146 0.416-0.426 0.675-0.596 0.984 -0.511-0.071-1.017-0.154-1.514-0.266C27.533 49.354 28.137 48.95 28.409 48.357zM31.227 42.748c0.003-0.393-0.281-1.311 0.364-1.356 0.547 2.765-0.425 7.024 1.2 8.519C32.201 49.965 31.604 50 31 50c-0.272 0-0.537-0.029-0.807-0.041C31.621 48.705 31.212 45.361 31.227 42.748zM35.796 49.365c-0.397 0.104-0.796 0.207-1.203 0.285 -0.179-0.266-0.421-0.534-0.546-0.932 -0.598-1.911-0.005-4.917-0.091-7.056 1.222 1.33 0.101 4.37 0.544 6.333C34.618 48.517 35.16 49.04 35.796 49.365zM36.684 47.996c-0.713-1.406 0.01-4.496-0.271-6.604 -0.189-1.413-0.962-1.745-1.365-2.624 3.752-0.275 6.278-1.24 7.629-3.905 2.367 0.067 4.592 0.647 6.64 1.127 -1.619 5.955-6.052 10.734-11.791 12.837C37.226 48.604 36.908 48.439 36.684 47.996zM44.141 33.611c1.92-0.13 3.902-0.14 5.666-0.048 -0.101 0.748-0.247 1.479-0.433 2.197 -2.015-0.634-4.151-1.239-6.507-1.425C42.829 33.593 43.612 33.647 44.141 33.611z"/></g></svg>
		</a>
	</header>
	<section class="main">
		{{outlet}}
	</section>
</article>
<div class="bottom-gradient">
	<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en"  data-count="none" style="float:right;">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>